@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;900&display=swap');
body {
  font-family: 'Inconsolata', monospace;
  background: tan;
  max-width: 320px;
  margin: 20px auto;
}

.wiggle {
  animation: 3s alternate infinite wiggly;
  animation-timing-function: ease-in-out;
  transform-origin: bottom center;
}

@keyframes wiggly {
  from { transform: matrix(1,0,-0.2,1,0,0) }
  to { transform: matrix(1,0,0.2,1,0,0) }
}

#grid {
  border: 10px solid brown;
  display: grid;
  grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
  grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
}

#grid>* {
  border: 1px dotted brown;
}